@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff;
  --color-brand: #F65F5F;
  --color-background: #000000;

  /* Poppins variable from layout */
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}
